{
    "compiler": "component",
    "name": "jquery",
    "version": "1.11.3",
    "author": "hao.lin,Hotel",
    "email": "hao.lin@qunar.com",
    "description": "jQuery的 fekit 组件版",
    "repository": "https://github.com/jquery/jquery.git",
    "dependencies": {},
    "alias": {},
    "export": []
}
